body {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

main {
    display: flex;
}

.checkContainer {
    margin: 20px;
    display: inline-block;
}

.spinner {
    border-right: 10px solid yellow;
    border-top: 10px solid orange;
    border-left: 10px solid red;
    border-bottom: 10px solid darkred;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 40%;
    margin-top: 0px;
    animation: spin 5s ease-in-out infinite;
}

@keyframes spin {
    0% {
        margin-left: 25%;
        margin-top: 0px;
    }
    6.25% {
        margin-left: 34%;
        margin-top: 2%;
        transform: rotate(-22.5deg);
    }
    12.5% {
        margin-left: 43%;
        margin-top: 7%;
        transform: rotate(-45deg);
    }
    18.75% {
        margin-left: 48%;
        margin-top: 16%;
        transform: rotate(-67.5deg);
    }
    25% {
        margin-left: 50%;
        margin-top: 25%;
        transform: rotate(-90deg);
    }
    31.25% {
        margin-left: 48%;
        margin-top: 34%;
        transform: rotate(-112.5deg);
    }
    37.5% {
        margin-left: 43%;
        margin-top: 43%;
        transform: rotate(-135deg);
    }
    43.75% {
        margin-left: 34%;
        margin-top: 48%;
        transform: rotate(-157.5deg);
    }
    50% {
        margin-left: 25%;
        margin-top: 50%;
        transform: rotate(-180deg);
    }
    56.25% {
        margin-left: 16%;
        margin-top: 48%;
        transform: rotate(-202.5deg);
    }
    62.5% {
        margin-left: 7%;
        margin-top: 43%;
        transform: rotate(-225deg);
    }
    68.75% {
        margin-left: 2%;
        margin-top: 34%;
        transform: rotate(-247.5deg);
    }
    75% {
        margin-left: 0px;
        margin-top: 25%;
        transform: rotate(-270deg);
    }
    81.25% {
        margin-left: 2%;
        margin-top: 16%;
        transform: rotate(-292.5deg);
    }
    87.5% {
        margin-left: 7%;
        margin-top: 7%;
        transform: rotate(-315deg);
    }
    93.75% {
        margin-left: 16%;
        margin-top: 2%;
        transform: rotate(-337.5deg);
    }
    100% {
        margin-left: 25%;
        margin-top: 0px;
        transform: rotate(-360deg);
    }
}