*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.mar{
  margin: 5px;
}
.sizmap{
  height: 400px;
  width: 89%;
  margin-top: 3%;
}
.goomap{
  position: fixed;
  right: 1%;
  top: 3%;
  width: 65%
}
.companies{
  margin-top:3%
}
.tags{
  position: fixed;
  right: 15px;
  top: 475px
}
.app{
  margin-left:4%;
  margin-top: 4%
}