body {
    background-color: #7175f8;
}

h1 {
    color: #F8EFEF;
    margin-bottom:0;
    margin-top: 10px;
    text-shadow: -1px -1px 0 #000, 3px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h5 {
    color: #F8EFEF;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}


.grow {
    transition: .3s;
    color: rgb(255, 196, 0);
    font-size: 1.3em;
    border-bottom: 2px solid black;
}

.shrink {
    transition: .3s;
    color: #F8EFEF;
    font-size: 1.1em;
}
.tagAvail{
    color : #048fdf;
    
    
}



.haeder{
    padding-top: 10px;
    background-color: #e03939;
    text-align: center;
}
.tags {
    display: flex;
    justify-content: space-around;
    margin-bottom: -25px;
}

.tag{
    margin-top: 5px;
    margin-bottom: 20px;
}

/* .bod {
    background-color: rgb(58, 67, 248);
    height: 400px;
} */


button {
    background-color: #5B5DD8;
    border: 2px solid white;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    margin: 1em;
    width: 10em;
    height: 3em;
    cursor: pointer;
    box-shadow: 4px 4px 8px #4d4d4d;
}

button:hover {
    background-color: #FFCACA;
    color: #362B1B;
}

.bod {
    display: flex;
    justify-content: center;
    height: auto;
}

.clear {
    transition: .5s;  
    height: 0px;
    border: 0px solid white;
    margin: 0;
    background-color: rgb(252, 212, 80);
    color: rgb(252, 212, 80);
    font-size: 0
}
.top {
    text-align: center;
}

.bulb {
    color: red;
}

.bulb:hover {
    width: 40px;
    size: 3em;
    background-color: black;
}
.map {
    width: clac(100% - 250px);
    height: calc(100vh - 180px);
    position: relative;
}

.googleMap{
    height: 100%;
}
.orgList {
    width: 300px;
    height: calc(100% - 40px);
    padding-left: 20px;
    left: 20px;
    top: 20px;
    opacity: .9;
    background-color: #DADBFD;
    border-radius: 10px;
    position:absolute; 
    overflow: auto;
    border: 2px solid #3033D8;
}

.orgItem{
    width: 95%;
    color: black;
    border-bottom: 1px solid #555555;
}

.desc{
    /* height: calc(100vh - 40px); */
    height: 30px;
    text-align: justify;
    overflow: hidden;
    /* text-justify: inter-word; */
    /* background-color: white; */
}

.more{
    height: auto;
}

.logo{
    float: right;
    width: 20%;
    border: 1px solid #5B5DD8;
    box-shadow: 2px 2px 5px #7a7a7a;
}